/*Importacion de Fuente de Google para el Browser (Solo usar como 2)*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*Variables de colores*/
:root {
  --primary-color: #00155C;
  --primary-light: #005085;
  --primary-dark:#2D3657;
  --primary-colorful: #1B38FF;
  --primary-gray100: #f9f9f9;
  --primary-gray200: #cfd8dc;

  /*   border radius */
  --radius: 1em;
}

::selection{
  color: #fff;
  background: var(--primary-colorful);
}

/*Valores basicos del Sitio*/
body {
    background: var(--primary-gray100);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2{
    color: var(--primary-color);
}

h2 {
    font-size: 2em;
}

a {
    color: #444;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 5em 2em;
}

/*Nav*/
.navbar{
    background: white;
    padding: 1em;
}

    .navbar .logo{
        max-height: 50px;
    }

    .navbar nav{
        display: none;
    }

    .navbar .container{
        display: flex;
        place-content: space-between;
    }

    .navbar .mobile-menu{
        cursor: pointer;
    }

    nav.menu-btn{
        display: block;
    }

nav{
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

    nav ul.primary-nav {
        margin-top: 5em;
    }

    nav li a{
       color: white;
       text-decoration: none;
       display: block;
       padding: .5em;
       font-size: 1.3em;
       text-align: right;
    }

    nav li a: hover {
       font-weight: bold;
    }

    .mobile-menu-exit{
       float: right;
       margin: .5em;
       cursor: pointer;
    }

/*Hero Section*/
.hero{
    text-align: center;
}

  .left-col h1{
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: .2em;
  }

  .left-col .ornament{
    display: none;
  }

  .left-col .subhead{
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: .3em;
  }

  .hero-img{
    width: 70%;
    margin-top: 3em;
  }

/*Parametros para TODAS las secciones*/
.img-section{
    width: 70%;
    margin-top: 3em;
}

.btn-primary {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  border-radius: var(--radius);
  padding: 0.5em 1em;
  margin-top:  2em;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.btn-primary:hover {
  background: var(--primary-light);
}

.left-col h2{
    text-transform: uppercase;

}

/*Highlight Project Section*/
section.highlight-project-section{
  text-align: center;
}

/*About Section*/
section.about-section{
  background: var(--primary-dark);
  color: white;
  text-align: center;
}

    section.about-section h2{
      color: white;
    }

    section.about-section .subhead{
      color: var(--primary-gray200);
    }

    section.about-section .subhead span{
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }

    #aboutMe{
        text-transform: none;
        font-weight: normal;
        color: var(--primary-gray100);
        letter-spacing: .3em;
        margin-right: 2.5em;
    }

    section.about-section .btn-primary {
          font-size: 1.2em;
          text-transform: uppercase;
          font-weight: bold;
          background: white;
          color: var(--primary-color);
          border: none;
          outline: none;
          border-radius: var(--radius);
          padding: 0.5em 1em;
          margin-top:  2em;
          cursor: pointer;
          transition: all 200ms ease-in;
        }
        
        section.about-section .btn-primary:hover {
          background: var(--primary-gray200);
        }

/*Contact Section*/
section.contact-section{
  text-align: center;
}

    section.contact-section a{
     text-decoration: none;
    }

    section.contact-section .icon-contact{
      max-width: 50px;
      padding: 2em;
    }
    
    section.contact-section .icon-contact:hover{
      cursor: pointer;
      transform: scale(1.1);
      transition: all ease-in-out 200ms;
    }

/*Footer*/
footer{
    text-align: center;
    padding: 2em 0;
    background: white;
}

    footer .nav-sm{
        display: none;
    }


    footer .primary-nav{
        display: none;
    }

    footer .footer-down{
        margin-top: 2em;
    }

    footer .info-page{
        font-weight: bold;
        color: var(--primary-color);
    }

/*Portafolio*/
section.portfolio-section{
  padding: 4em 0;
}

section.portfolio-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section.portfolio-section ul li {
  list-style: none;
  background: #eee;
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

section.portfolio-section ul li.active {
  background: var(--primary-light);
  color: white;
}

.product{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
}

.product .itemBox{
  position: relative;
  width: 300px;
  height: 250px;
  margin: 1em;
  cursor: pointer;
}

.product .itemBox.hide{
  display: none;
}


.product .itemBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Proyectos dentro del Portafolio*/
section.project-section{
  padding: 2em 0;
}

section.project-section a{
  text-decoration: none;
  color: var(--primary-color);
}

.description{
      display:flex;

      justify-content: flex-end;

      padding: 3em 0em 2em 4em;
      color: var(--clr-primary);
    }

    .project-section:first-child {
      margin-right: auto;
      margin-left: 2rem;
    }
  
  .project-section div{
    /*border:1px #ccc solid;*/
    padding:10px;
  }

   .project-section h3{
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .box-1{
    flex:2;
    order:1;
  }
  
  .box-2{
    flex:1;
    order:2;

    /*border:1px darkblue solid;*/
    /*margin-right: 1rem;*/
  }
  
  .box-3{
    flex:1;
    order: 3;

    /*border:1px darkblue solid;*/
  }

.showcase{
  display: flex;
  flex-wrap: wrap;

  /*align-items: center;*/
  justify-content: center;
}

.img-showcase{
  max-width:100%;
  max-height:800px;
  align-items: center;
  margin-top: 1.5em;
}

.back-portf{
  text-align: center;
  padding-top: 1.5em;
}


/*Hobbies*/
    /*Cards*/
section.hobbies-section {
  background: var(--primary-gray100);
  color: white;
  padding-bottom: 0;
}

  .hobbies-section ul{
    margin-top: 2em;
  }


  .hobbies-section li{
    background: white;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;
    color: var(--primary-color);
  }

  .hobbies-section li img{
    max-height: 3.5em;
    padding-bottom: 1em;
  }

/*Habilidades - Progress Bar*/
  .container-progressbar{
  display: grid;
  height: 100%;
  place-items: center;
  /*background: #6665ee;*/
  padding: 2em 0;
  }

  .skill-bars{
    padding: 25px 30px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--primary-light);
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 90%;
  }
  .bar .progress-line.css span{
    width: 90%;
  }
  .bar .progress-line.javascript span{
    width: 50%;
  }
  .bar .progress-line.photoshop span{
    width: 90%;
  }
  .bar .progress-line.xd span{
    width: 80%;
  }
  .bar .progress-line.illustrator span{
    width: 80%;
  }
  .bar .progress-line.wordpress span{
    width: 70%;
  }
  .bar .progress-line.php span{
    width: 50%;
  }

  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "90%";
  }
  .progress-line.css span::after{
    content: "90%";
  }
  .progress-line.javascript span::after{
    content: "50%";
  }
  .progress-line.photoshop span::after{
    content: "90%";
  }
  .progress-line.xd span::after{
    content: "80%";
  }
  .progress-line.illustrator span::after{
    content: "80%";
  }
  .progress-line.wordpress span::after{
    content: "70%";
  }
  .progress-line.php span::after{
    content: "50%";
  }


@media only screen and (min-width:  768px){
  .mobile-menu, .mobile-menu-exit{ 
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    align-items: center;
  }

  .navbar nav{
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .navbar nav ul{
    display: flex;
  }

  .navbar nav a{
    color: var(--primary-light);
    font-size: 1em;
    padding: .1em 1em;
  }

  .navbar nav a:hover{
    color: var(--primary-colorful);
  }

  .navbar nav ul.primary-nav{
    margin: 0;
  }

  .navbar nav li.current a{
    font-weight: bold;
  }

  

}

@media only screen and (min-width:  1080px){
  .container{
    width: 1080px;
    margin: 0 auto;
  }

  section{
    padding: 10em 4em;
  }

  /*Hero Section*/
  .hero .container{
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

    .left-col .ornament{
      display: block;
      margin: -2em 0 2em 0;
    }

    .hero .container .left-col{
      margin: 3em 3em 0 5em;
    }

    .hero .container .left-col h1{
      font-size: 3em;
      width: 90%;
    }

  .hero-img{
    width: 50%;
    margin-right: 4em;
  }

     /*Highlight Project Section*/
    section.highlight-project-section .container{
      display: flex;
      justify-content: space-between;
      text-align: left;
    }

    section.highlight-project-section .ornament{
      margin: -1em 0 2em 0;
    }

    section.highlight-project-section .img-section{
      width: 50%;
      margin-right: 4em;
    }

     /*About Section*/
    section.about-section .container{
      display: flex;
      justify-content: space-between;
      text-align: left;
    }

    section.about-section .ornament{
      margin: -1em 0 2em 0;
    }

    section.about-section .img-section{
      width: 50%;
      margin-right: 4em;
    }

     /*Contact Section*/
    section.contact-section .container{
      display: flex;
      justify-content: space-between;
      text-align: left;
    }

    section.contact-section .ornament{
      margin: -1em 0 2em 0;
    }

    section.contact-section .img-section{
      width: 50%;
      margin-right: 4em;
    }

/*Hobbies en la pagina "Sobre Mi"*/
  .hobbies-section ul{
    display: flex;
  }

  .hobbies-section ul li{
    margin: 0 1em;
  }

    /*Footer*/
    footer{
        background: white;
        text-align: left;
        padding: 2em 0;
        overflow: hidden;
        margin: 0;
    }

    /*Footer 1ra Parte*/
    footer .footer-up .container{
        display: grid;
        grid-template-columns: 180px auto;
        align-items: center;
    }

    footer .logo-footer{
        padding-left: 1.1em;
        max-height: 50px;
    }


    footer .nav-sm {
      padding: 1rem 0;
      margin: 0 0;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
    
    footer .nav-sm-item {
      list-style: none;
      margin-right: 2rem;
      max-height: 100%;
    }

    footer .nav-sm-item:last-child {
      margin-right: 0;
    }
    
    footer .nav-sm-item a {
      text-decoration: none;
      color: #005085;
    }
    
    footer .nav-sm-item a:hover {
      /*background-color: var(--primary-light);*/
    }

    footer .icon-footer{
        width: 30px;
    }

    footer .primary-nav{
        display: flex;
    }

    /*2da Parte del Footer*/
    .footer-down{
        padding: 1em 0;
        margin: 0;
    }

    .footer-down .container{
        display: flex;
        place-content: space-between;
    }

    .footer-down .primary-nav .container {
        display: grid;
        grid-template-columns: 180px auto;
        align-items: center;
    }

    .footer-down .primary-nav{
        display: flex;
        justify-content: flex-start;
        background: none;
        position: unset;
        height: auto;
        width: 50%;
        padding: 1em 0 0 0; 
    }

    .footer-down .primary-nav ul{
        display: flex;
    }

    .footer-down .primary-nav a{
        color: var(--primary-light);
        font-size: 1em;
        padding: .1em 1em;
        text-decoration: none;
    }

    .footer-down .primary-nav a:hover{
        color: var(--primary-colorful);
    }

    .footer-down .primary-nav ul.primary-nav{
        margin: 0;
    }

    .footer-down .primary-nav li.current a{
        font-weight: bold;
     }

    .info-page{
        max-width: 450px;
    }

}